h1{
	font-family: Verdana;
	text-align: center;
}
body{
	font-family: Verdana;
	background-color: #66CCFF;
}
td{
	text-align: center;
}
img{
	width:4em;
	height:4em;
}
#head{
	border: 4px solid;
	border-radius: 25px;
	background-color: yellow;
	width: 40em;
	margin-left: auto;
	margin-right: auto;
}
#board{
	border: 4px solid;
	margin-left:auto;
	margin-right:auto;
	background-color: white;
}
#guessButton{
	height: 18px;
	width: 70px;
	background-color: yellow;
	font-family: Verdana;
	font-weight:bold;
	border-radius:5px;
	text-align:center;
	float:left;
}
#chatButton{
	height: 18px;
	width: 70px;
	background-color: yellow;
	font-family: Verdana;
	font-weight:bold;
	border-radius:5px;
	text-align:center;
	float: right;
}

.list{
	font-family:verdana;
	color:black;
	background-color:white;
}
#guessWindow{
	background-color: white;
	float: left;
	height: 23em;
	width: 19em;
	border-radius:10px;
	border: 2px solid;
	overflow:scroll;
    overflow-x:hidden;
}
#guessToScroll{
	height: 23em;
	width: 19em;
}
#chatWindow{
	background-color: white;
	float: right;
	height: 23em;
	width: 19em;
	border-radius:10px;
	border: 2px solid;
	overflow:scroll;
    overflow-x:hidden;
}
#chatToScroll{
	width: 50%;
    margin: 0px auto;
	height: 23em;
	width: 18em;
}
.item {
	color: black;
}
#chatForm{
	float: right;
}
#chatInput{
	float:right;
}
#description{
	width:50em;
	font-family:Verdana;
	color:#black;
	margin-left: auto;
	margin-right: auto;
}
#LogInput{
	float:right;
}
#homePic{
	height:30em;
	width: 30em;
	margin-left: auto;
	margin-right: auto;
}
#MoveLeft{
	margin-right: 500px;
}
#wrapper{
	margin-left:auto;
    margin-right:auto;
    width:83em;
}
#test{
	background-color: black;
	width: 15em;
	float:right;
}
#yourCard{
	width: 6em;
	background-color: black;
	color: white;
	text-align: center;
}
#opponent{
	background-color: black;
	position: absolute;
    top: 1em;
    right: 1em;
    height: 5em;
    width:8em;
}
#oElement{
	width:1em;
	height: 1em;
}
#finalInput{
	width: 20em;
}
#centerCell{
	padding-left: 22em;
	padding-right: 22em;
	padding-top: 0px;
	padding-bottom: 0px;
}