extends layout

block content
  body
    #head
      h1 How to Play! 
    #description.list
      h4
        u What is it?
      p
        | Guess who is a two player game where you and your opponent choose a set of characters and you choose one of them. You and your opponent then take turns asking questions about the other person's character in order to narrow down who they have. The objective of the game is to cross out every character except the one that your opponent has. You can guess about the person's appearance, what they do, where they are from, or you can guess specific people and cross them off one at a time.
      h4
        u How do I play?
      p
        | You start the game by logging in using your username and you pick a set of characters that you want to use for the game. You will then be matched up with someone who picked the same set of characters and the game will start. You will be assigned a character for them to guess and the same goes for them. There is a chat window on the left side for you to talk to the other player and there is a guess window on the right where you will be sending and recieving guesses with the other play. Each time you find that a character is no longer possible based on the clues you have recieved you can click on that character to remove them from the board.
    div
      a(href='/')
        | Back!
