extends layout

block content
  body
    #wrapper
      #head
        h1 Welcome to Guess Who?!?
      #guessWindow.list
      #chatWindow.list
      center
        table#board
      #test
        form(name='guessForm')
          input#guessInput(type='text', name='guessItem')
          #guessButton Guess!
        form(name='chatForm')
          input#chatInput(type='text', name='chatItem')
        #chatButton Send!
