!!! 5
html
  head
    title Guess Who?
    link(type='text/css', rel='stylesheet', href='stylesheets/stylesheet.css')
    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(src='http://code.jquery.com/jquery-migrate-1.1.1.min.js')
    script(type='text/javascript', src='../GuessQuery.js')
  body
    #head
      h1 Welcome to Guess Who?!?
    #guess.list
    #chat.list
    table
      tr
        td
          img(src='http://www.clipartsfree.net/vector/medium/purzen_Icon_with_question_mark_Clip_Art.png')
        td
          img(src='http://www.clipartsfree.net/vector/medium/purzen_Icon_with_question_mark_Clip_Art.png')
        td
          img(src='http://www.clipartsfree.net/vector/medium/purzen_Icon_with_question_mark_Clip_Art.png')
        td
          img(src='http://www.clipartsfree.net/vector/medium/purzen_Icon_with_question_mark_Clip_Art.png')
        td
          img(src='http://www.clipartsfree.net/vector/medium/purzen_Icon_with_question_mark_Clip_Art.png')
        td
          img(src='http://www.clipartsfree.net/vector/medium/purzen_Icon_with_question_mark_Clip_Art.png')
      tr
        td
          img(src='http://www.clipartsfree.net/vector/medium/purzen_Icon_with_question_mark_Clip_Art.png')
        td
          img(src='http://www.clipartsfree.net/vector/medium/purzen_Icon_with_question_mark_Clip_Art.png')
        td
          img(src='http://www.clipartsfree.net/vector/medium/purzen_Icon_with_question_mark_Clip_Art.png')
        td
          img(src='http://www.clipartsfree.net/vector/medium/purzen_Icon_with_question_mark_Clip_Art.png')
        td
          img(src='http://www.clipartsfree.net/vector/medium/purzen_Icon_with_question_mark_Clip_Art.png')
        td
          img(src='http://www.clipartsfree.net/vector/medium/purzen_Icon_with_question_mark_Clip_Art.png')
      tr
        td
          img(src='http://www.clipartsfree.net/vector/medium/purzen_Icon_with_question_mark_Clip_Art.png')
        td
          img(src='http://www.clipartsfree.net/vector/medium/purzen_Icon_with_question_mark_Clip_Art.png')
        td
          img(src='http://www.clipartsfree.net/vector/medium/purzen_Icon_with_question_mark_Clip_Art.png')
        td
          img(src='http://www.clipartsfree.net/vector/medium/purzen_Icon_with_question_mark_Clip_Art.png')
        td
          img(src='http://www.clipartsfree.net/vector/medium/purzen_Icon_with_question_mark_Clip_Art.png')
        td
          img(src='http://www.clipartsfree.net/vector/medium/purzen_Icon_with_question_mark_Clip_Art.png')
      tr
        td
          img(src='http://www.clipartsfree.net/vector/medium/purzen_Icon_with_question_mark_Clip_Art.png')
        td
          img(src='http://www.clipartsfree.net/vector/medium/purzen_Icon_with_question_mark_Clip_Art.png')
        td
          img(src='http://www.clipartsfree.net/vector/medium/purzen_Icon_with_question_mark_Clip_Art.png')
        td
          img(src='http://www.clipartsfree.net/vector/medium/purzen_Icon_with_question_mark_Clip_Art.png')
        td
          img(src='http://www.clipartsfree.net/vector/medium/purzen_Icon_with_question_mark_Clip_Art.png')
        td
          img(src='http://www.clipartsfree.net/vector/medium/purzen_Icon_with_question_mark_Clip_Art.png')
    form(name='guessForm')
      input(type='text', name='guessItem')
    form(name='chatForm')
      input(type='text', name='chatItem')
    #button Guess!
    #guessButton Send!

