extends layout

block content
  body
    #MoveLeft
      h1 Welcome to Guess Who 
    a#LogInput(href='/account') LOGIN
    a#LogInput(href='/description') DESCRIPTION
    center
      img#homePic(src='http://3.bp.blogspot.com/-n0EtBDywLoI/UHtGGMKNorI/AAAAAAAAAKs/T-fKCrd6vG4/s1600/guessWho.jpg')
