h1{
	/*color:*/
	font-family: Verdana;
	text-align: center;
}
body{
	background-color: #66CCFF;
}
div{
	border: 4px solid;
	border-radius: 25px;
	background-color: yellow;
	width: 40em;
	margin-left: auto;
	margin-right: auto;
}
table{
	border: 4px solid;
	margin-left:auto;
	margin-right:auto;
	/*background-color:black;*/
}
img{
	width:50px;
	height:50px;
}
